<div id="login-page">
	<%= render :partial => "shared/no_search_header"%>
	<div class="row">
		<p><%= flash[:danger]%></p>
		<div class="form-group col-md-3 col-md-offset-4">
			<%= form_for :session, url: login_path do |f| %>
				<%= f.label "Username:" %>
				<%= f.text_field :username, :class => "form-control"%>
				<%= f.label "Password:" %>
				<%= f.password_field :password, :class => "form-control" %>
				<%= f.submit "Login", :class=>"btn btn-default"%>
			<% end %>
			<p>New user? <%= link_to "Sign Up", signup_path%></p>
		</div>
	</div>
</div>






	
