<div class="header container-fluid">
	<div class="row-fluid">
		<div class="col-md-4">
			<%= link_to "SMC Book Exchange", root_path, :id => "logo"%>
		</div>
		<div id="searchbar" class="col-md-3 col-md-offset-3 form-inline">
			<%= form_tag "/results", method: "GET" %>
			<%= text_field_tag :search_params,nil, :placeholder => "Bookname, Prof, ect..", :class =>"form-control"%>
			<%= submit_tag "Search", :class =>"btn btn-primary btn-sm form-control" %>
		</div>
		<div id="login_buttons" class="col-md-2">
			<% if @current_user %>
				Hello,<br> <%= link_to(@current_user.username,user_path(@current_user.id), :id=>"hello_name")%>!<br>
				<%= link_to("Logout", logout_path, method: :delete, :class=> "btn btn-primary btn-sm")  %>
			<% else %>
				<%= link_to("Sign Up", signup_path, :class => "btn btn-primary btn-sm") %>
				<%= link_to("Log In", login_path, :class => "btn btn-primary btn-sm") %>
			<% end %>
		</div>
	</div>
</div>