<div class="container-fluid" id="show-post">
	<div class="row-fluid">
		<div class="col-md-5 col-md-offset-1">
			<h1><%=@post.title%></h1>
			<p><%=@post.body %></p>
			<% if @pst_created_at == @pst_updated_at %>
				<p>Created at <%= @pst_created_at.strftime("%m/%d/%Y %l:%M %P PST")%> by <%= link_to @post.user.username, user_path(@post.user.id)%></p>
			<% else %>
				<p>Edited on <%= @pst_updated_at.strftime("%m/%d/%Y %l:%M %P PST")%> by <%= link_to @post.user.username, user_path(@post.user.id)%></p>
			<% end %>
			<% if @current_user && @current_user.id == @post.user.id %>
				<%= link_to "Edit Post", edit_post_path(@post.id),:class=>"btn btn-primary form-control", :id=>"edit-btn" %>
				<%= link_to "Delete Post", post_path(@post.id), method: :delete, :class=>"btn btn-danger form-control", :id=>"delete-btn" %>
			<% end %>
		</div>
	</div>
</div>

